<div class="textdetail-container">
  <% text = @text.detail %>
  <%= markdown(text).html_safe %>
  <a href="https://twitter.com/share?url=<%= request.url %>&text=<%= @text.title %>" rel="nofollow" target="_blank"><%= image_tag "Twitter_Social_Icon_Square_Color.png", class: "icon" %></a>
  <a href="https://www.facebook.com/share.php?url=<%= request.url %>&text=<%= @text.title %>" rel="nofollow" target="_blank"><%= image_tag "f_logo_RGB-Blue_58.png", class: "icon" %></a>
</div>
