<!DOCTYPE html>
<html>
  <head>
     <title>GyakutenCloneGroup10</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    <% unless request.path.include?("line") %>
      <%= render 'shared/header' %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/lineheader' %>
      <%= render 'shared/linefooter' %>
    <% end %>
    <%= yield %>
  </body>
</html>
